<section
  class="container p-4 mx-auto"
  *ngIf="!quizDataService.isQuizFinished()()"
>
  <div
    *ngIf="!currentQuestion.question"
    class="grid w-full grid-cols-2 gap-4 text-center md:flex md:flex-col md:items-center md:justify-center"
  >
    <div>
      <h2 class="text-5xl">
        Welcome to the <br /><strong class="font-bold">Frontend Quiz!</strong>
      </h2>
      <p class="italic text-gray-500">Pick a subject to get started.</p>
    </div>
    <div
      class="grid grid-cols-1 gap-4 md:flex md:flex-col md:items-center md:justify-center"
    >
      <div
        *ngFor="let quiz of quizzes; let id = index; trackBy: trackByQuizTitle"
        class="flex items-center p-4 transition-all duration-300 bg-gray-100 border border-transparent rounded-lg shadow-md cursor-pointer hover:border-purple hover:border-purple-500"
        (click)="startQuiz(id)"
      >
        <img
          [src]="quiz.icon"
          [alt]="quiz.title"
          class="w-16 h-16 bg-gray-200 rounded-full"
        />
        <p class="ml-4">{{ quiz.title }}</p>
      </div>
    </div>
  </div>
  <div
    *ngIf="currentQuestion.question"
    class="grid w-full grid-cols-2 gap-4 text-center md:flex md:flex-col md:items-center md:justify-center"
  >
    <div>
      <h2 class="text-5xl">
        Question {{ quizDataService.getCurrentStep()() + 1 }} of
        {{ currentQuiz().questions.length }}
      </h2>
      <p class="italic text-gray-500">{{ currentQuestion.question }}</p>
    </div>
    <div
      class="grid grid-cols-1 gap-4 md:flex md:flex-col md:items-center md:justify-center"
    >
      <div
        *ngFor="let option of currentQuestion.options; let id = index"
        class="flex items-center p-4 transition-all duration-300 border rounded-lg cursor-pointer"
        [class.border-purple]="answerSelected() === id"
        [class.bg-purple-600]="answerSelected() === id"
        [class.text-white]="answerSelected() === id"
        (click)="onClickAnswer(id)"
      >
        <div
          class="flex items-center justify-center w-8 h-8 mr-4 text-lg font-bold rounded-md"
          [class.bg-purple-700]="answerSelected() === id"
          [class.bg-gray-200]="answerSelected() !== id"
          [class.text-white]="answerSelected() === id"
        >
          {{
            id === 0
              ? "A"
              : id === 1
              ? "B"
              : id === 2
              ? "C"
              : id === 3
              ? "D"
              : null
          }}
        </div>
        <div class="text-lg">{{ option }}</div>
      </div>
    </div>
    <div class="w-[500px] bg-darkNavy rounded-full h-2.5 dark:bg-white">
      <div
        class="bg-purple h-2.5 rounded-full"
        [style.width]="50 * quizDataService.getCurrentStep()() + 'px'"
      ></div>
    </div>
  </div>

  <div class="mt-4">
    <button
      (click)="submitAnswer()"
      class="flex items-center justify-center w-full p-8 text-white transition-all duration-300 rounded-lg shadow-md cursor-pointer bg-purple hover:bg-red-300"
      [disabled]="answerSubmitted"
      [hidden]="answerSubmitted"
    >
      Submit Answer
    </button>
    <button
      (click)="nextQuestion()"
      class="px-4 py-2 ml-2 text-white bg-green-500 rounded hover:bg-green-600"
      [disabled]="!answerSubmitted"
      [hidden]="!answerSubmitted"
    >
      Next Question
    </button>
  </div>

  <!-- <div
    *ngIf="currentQuestion.question"
    class="p-4 mb-4 bg-white rounded shadow-md"
  >
    <div>
      <p class="mb-2 text-xl">
        Question {{ quizDataService.getCurrentStep()() + 1 }} of
        {{ currentQuiz().questions.length }}
      </p>
      <h3 class="mb-4 text-2xl font-semibold">
        {{ currentQuestion.question }}
      </h3>
    </div>
    <div class="grid grid-cols-1 gap-4 md:flex md:flex-col md:items-center md:justify-center">
      <button
        *ngFor="let option of currentQuestion.options; let id = index"
        class="flex items-center p-4 transition-all duration-300 bg-gray-100 rounded-lg shadow-md cursor-pointer hover:border-purple-500"
        [class.bg-green-200]="getAnswerVariant(id) === 'correct'"
        [class.bg-red-200]="getAnswerVariant(id) === 'incorrect'"
        (click)="onClickAnswer(id)"
      >
        <div
          class="flex justify-center w-8 h-8 bg-gray-200 rounded-md align-center"
        >
          A
        </div>
        <div>{{ option }}</div>
      </button>
    </div>
    <div class="mt-4">
      <button
        (click)="submitAnswer()"
        class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600"
        [disabled]="answerSubmitted"
      >
        Submit Answer
      </button>
      <button
        (click)="nextQuestion()"
        class="px-4 py-2 ml-2 text-white bg-green-500 rounded hover:bg-green-600"
        [disabled]="!answerSubmitted"
      >
        Next Question
      </button>
    </div>
    <progress
      class="w-full mt-4"
      [max]="currentQuiz().questions.length"
      [value]="quizDataService.getCurrentStep()()"
    ></progress>
  </div> -->
</section>
<section
  class="container p-4 mx-auto text-center"
  *ngIf="quizDataService.isQuizFinished()()"
>
  <h3 class="text-3xl font-bold">Quiz completed!</h3>
  <p class="mt-2 text-xl">
    You scored {{ getCorrectAnswerCount() }} out of
    {{ currentQuiz().questions.length }}
  </p>
  <button
    (click)="restartQuiz()"
    class="px-4 py-2 mt-4 text-white bg-blue-500 rounded hover:bg-blue-600"
  >
    Play Again
  </button>
</section>
