<div class="flex items-center">
  <div
    class="h-6 w-6 bg-[url('@/assets/images/sun-dark.svg')] dark:bg-[url('@/assets/images/sun-light.svg')]"
  ></div>
  <div class="flex items-center ml-3 mr-3">
    <input
      class="appearance-none bg-[length:50%_50%] p-1 checked:bg-[length:50%_50%] h-6 w-12 rounded-full bg-purple-600 checked:bg-purple-600 bg-[url('@/assets/images/switch.svg')] bg-no-repeat bg-right checked:bg-left focus:outline-none cursor-pointer transition-all duration-300"
      type="checkbox"
      (click)="onClick()"
    />
  </div>
  <div
    class="h-6 w-6 bg-[url('@/assets/images/moon-dark.svg')] dark:bg-[url('@/assets/images/moon-light.svg')]"
  ></div>
</div>
